{% extends 'base.html' %} {% load crispy_forms_tags %} {% load static %} {% block page_title %} Add Combatant {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <h2>New Combatant</h2>
        <br>
        <form role="form" method="post" id="add-combatant-form" class="form-50" action="{% url 'new_combatant' %}">
            {% csrf_token %} {{ combatant_form.base|as_crispy_field }}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ combatant_form.current_hp|as_crispy_field }}
                </div>
            </div>
            <input class="btn btn-success" id="submit_combatant" name="commit" type="submit" value="Add Combatant">
        </form>
        <br>
    </div>
</div>
<br> {% endblock %}