{% extends 'base.html' %} {% load static %} {% block page_title %} BLDXSPRT | New Base {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center body-text">
        <h1 class="main-title mb-3">{{ base.name }}</h1>
    </div>
</div>

<div class="row body-text text-center mb-3">
    <div class="col-md-4 col-12">
        <h4>Max HP: {{ base.base_hp }}</h4>
    </div>
    <div class="col-md-4 col-12">
        <h4>Strengh: {{ base.strengh }}</h4>
    </div>
    <div class="col-md-4 col-12">
        <h4>Speed: {{ base.speed }}</h4>
    </div>
    <div class="col-md-4 col-12">
        <h4>Social: {{ base.social }}</h4>
    </div>
    <div class="col-md-4 col-12">
        <h4>Intel: {{ base.intel }}</h4>
    </div>
    <div class="col-md-4 col-12">
        <h4>Dexterity: {{ base.dex }}</h4>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <a href="{% url 'corehome' %}" role="button" class="btn btn-warning mb-3" aria-disabled="false">Back</a>
    </div>
</div>


{% endblock %}